{% extends 'dapp/dashboard-base.html' %}
{% load static %}

{% block title %}
Create Prescription
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/prescription.css' %}">
{% endblock %}

{% block body %}
<div class="container">
    <form action="{% url 'createprescription' %}" id="prescription" autocomplete="off" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="person-details">
            <input type="text" class="textinput" name="fullname" placeholder="রোগীর নাম" required>
            <input type="text" class="textinput" name="age" placeholder="বয়স" required>
            <select name="sex" class="textinput" required>
                <option value="পুরুষ">পুরুষ</option>
                <option value="মহিলা">মহিলা</option>
                <option value="শিশু(ছেলে)">শিশু(ছেলে)</option>
                <option value="শিশু(মেয়ে)">শিশু(মেয়ে)</option>
            </select>
            <input type="text" class="textinput" name="address" placeholder="ঠিকানা" required>
            <input type="text" class="textinput" name="contact" placeholder="যোগাযোগ" required>
            <input type="submit" value="Save & Create new" class="submit-btn">
        </div>
        <div class="symptoms-prescription">
            <div class="symptoms">

                <div class="buttons">
                    <a onclick="showSG('1')" id="sgb1" class="agreen">C/C</a>
                    <a onclick="showSG('2')" id="sgb2">Insert files</a>
                </div>
                
                <div id="sgf1" class="sgf">

                    <div class="cc" style="position: relative;width: fit-content;">
                    <textarea name="cc" id="cc" placeholder="Chief Complaints (C/C)" required></textarea>
                    <div id="ccsuggestions" class="autocomplete-suggestions"></div>
                    </div>

                    <div class="rf-dx" style="position: relative;width: fit-content;">
                    <textarea name="rf" id="rf" placeholder="Risk Factor"></textarea>
                    <div id="rfsuggestions" class="autocomplete-suggestions"></div>
                    </div>

                    <div style="position: relative;width: fit-content;">
                    <textarea name="oe" id="oe" placeholder="On Examination (O/E)"></textarea>
                    <div id="oesuggestions" class="autocomplete-suggestions"></div>
                    </div>

                    <div class="rf-dx" style="position: relative;width: fit-content;">
                    <textarea name="dx" id="dx" placeholder="Diagnosis" required></textarea>
                    <div id="dxsuggestions" class="autocomplete-suggestions"></div>
                    </div>

                    <div id="ixa" style="position: relative;width: fit-content;">
                    <div id="ixsuggestions" class="autocomplete-suggestions"></div>
                    <textarea name="ix" id="ix" placeholder="Investigation/Ix"></textarea>
                    </div>

                </div>
                
                
                <div id="sgf2" class="hide" class="sgf">
                </div>
                
            </div>
            <div class="prescription">
                <div class="buttons">
                    <div id="presa" style="position: relative;width: fit-content;">
                        <input type="text" class="textinput" id="drug" name="drug" autocomplete="off" placeholder="Type drug name..." style="width: 130px;"><br>
                        <div id="drugsuggestions" class="autocomplete-suggestions"></div>
                    </div>
                    
                    <select class="textinput" id="dosage" onchange="insertDoseText()">
                        <option value="০+০+১">০+০+১</option>
                        <option value="০+১+০">০+১+০</option>
                        <option value="১+০+০">১+০+০</option>
                        <option value="১+০+১">১+০+১</option>
                        <option value="১+১+১">১+১+১</option>
                        <option value="১/২ + ০ + ০">১/২ + ০ + ০</option>
                        <option value="১/২ + ০ + ১/২">১/২ + ০ + ১/২</option>
                        <option value="২ + ০ + ০">২ + ০ + ০</option>
                        <option value="৩ + ০ + ০">৩ + ০ + ০</option>
                        <option value="৪ + ০ + ০">৪ + ০ + ০</option>
                        <option value="০ + ১/২ + ০">০ + ১/২ + ০</option>
                        <option value="১ + ১ + ১ + ১">১ + ১ + ১ + ১</option>
                        <option value="২ + ২ + ২ + ২">২ + ২ + ২ + ২</option>
                        <option value="২ + ২ + ২ + ২ + ২ + ২">২ + ২ + ২ + ২ + ২ + ২</option>
                        <option value="১/২ চামচ সকালে">১/২ চামচ সকালে</option>
                        <option value="১ চামচ সকালে">১ চামচ সকালে</option>
                        <option value="২ চামচ সকালে">২ চামচ সকালে</option>
                        <option value="১/২ চামচ রাতে">১/২ চামচ রাতে</option>
                        <option value="১ চামচ রাতে">১ চামচ রাতে</option>
                        <option value="২ চামচ রাতে">২ চামচ রাতে</option>
                        <option value="১/২ চামচ সকালে ও রাতে">১/২ চামচ সকালে ও রাতে</option>
                        <option value="১ চামচ সকালে ও রাতে">১ চামচ সকালে ও রাতে</option>
                        <option value="২ চামচ সকালে ও রাতে">২ চামচ সকালে ও রাতে</option>
                        <option value="১/২ চামচ দিনে তিন বার">১/২ চামচ দিনে তিন বার</option>
                        <option value="১ চামচ দিনে তিন বার">১ চামচ দিনে তিন বার</option>
                        <option value="২ চামচ x দিনে তিন বার">২ চামচ x দিনে তিন বার</option>
                        <option value="১ ভায়াল, শিরাপথে, ৮ ঘন্টা পর পর">১ ভায়াল, শিরাপথে, ৮ ঘন্টা পর পর</option>
                        <option value="১ ভায়াল, শিরাপথে, ১২ ঘন্টা পর পর">১ ভায়াল, শিরাপথে, ১২ ঘন্টা পর পর</option>
                        <option value="১ ভায়াল, শিরাপথে, দিনে ১ বার">১ ভায়াল, শিরাপথে, দিনে ১ বার</option>
                        <option value="১ ভায়াল, শিরাপথে, খুবই ধীরে, দিনে ১ বার">১ ভায়াল, শিরাপথে, খুবই ধীরে, দিনে ১ বার</option>
                        <option value="১ টি স্টিক মলদ্বারে, ব্যাথা হলে">১ টি স্টিক মলদ্বারে, ব্যাথা হলে</option>
                        <option value="১ টি স্টিক মলদ্বারে, দিনে ৩ বার">১ টি স্টিক মলদ্বারে, দিনে ৩ বার</option>
                        <option value="৪ টি স্টিক মলদ্বারে">৪ টি স্টিক মলদ্বারে</option>
                        <option value="১ টি স্টিক মলদ্বারে, তাপমাত্রা ১০২ ডিগ্রীর বেশি হলে">১ টি স্টিক মলদ্বারে, তাপমাত্রা ১০২ ডিগ্রীর বেশি হলে</option>
                        <option value="১ মিলির সাথে ১.৫ মিলি নরসল মিশিয়ে নেবুলাইজ করবেন">১ মিলির সাথে ১.৫ মিলি নরসল মিশিয়ে নেবুলাইজ করবেন</option>
                        <option value="আক্রান্ত স্থানে দিনে ২ বার">আক্রান্ত স্থানে দিনে ২ বার</option>
                        <option value="১ ফোটা, নাসারন্ধ্রে, দিনে ৩ বার">১ ফোটা, নাসারন্ধ্রে, দিনে ৩ বার</option>
                        <option value="৩/৪ ফোটা বাম/ডান/উভয় কানে দিনে দুইবার">৩/৪ ফোটা বাম/ডান/উভয় কানে দিনে দুইবার</option>
                        <option value="১ ফোটা করে বাম/ডান/উভয় চোখে দুই বার">১ ফোটা করে বাম/ডান/উভয় চোখে দুই বার</option>
                        <option value="১ ফোটা করে দুই নাকের ছিদ্রে, দিনে ৩ বার">১ ফোটা করে দুই নাকের ছিদ্রে, দিনে ৩ বার</option>
                        <option value="৮ + ৮ + ৬ (~২) চামড়ার নিচে, খাবার ১/২ ঘন্টা আগে">৮ + ৮ + ৬ (~২) চামড়ার নিচে, খাবার ১/২ ঘন্টা আগে</option>
                        <option value="ব্যাথা হলে">ব্যাথা হলে</option>
                        <option value="জ্বর হলে">জ্বর হলে</option>
                        <option value="আক্রান্ত স্থানে লাগাবেন দিনে দুইবার">আক্রান্ত স্থানে লাগাবেন দিনে দুইবার</option>
                        <option value="মাসিকের রাস্তায় দিবেন">মাসিকের রাস্তায় দিবেন</option>
                        <option value="বমি হলে">বমি হলে</option>
                        <option value="দুধের সাথে মিশিয়ে খাবেন">দুধের সাথে মিশিয়ে খাবেন</option>
                        <option value="সহবাসের ১ ঘন্টা পূর্বে">সহবাসের ১ ঘন্টা পূর্বে</option>
                        <option value="১ ফোটা করে দুইবার মুখে">১ ফোটা করে দুইবার মুখে</option>
                        <option value="৩ মিলি করে দুইবার মুখে">৩ মিলি করে দুইবার মুখে</option>
                        <option value="পুরো প্যাকেট আধা লিটার পানির সাথে মিশিয়ে খাবেন প্রতিবার পাতলা পায়খানার পর">পুরো প্যাকেট আধা লিটার পানির সাথে মিশিয়ে খাবেন প্রতিবার পাতলা পায়খানার পর</option>
                    </select>
                    
                    
                    <select class="textinput" id="dosage2" onchange="insertDoseText2()">
                        <option value="খাওয়ার আগে">খাওয়ার আগে</option>
                        <option value="খাওয়ার ৩০ মিনিট আগে">খাওয়ার ৩০ মিনিট আগে</option>
                        <option value="খাওয়ার ১৫ মিনিট আগে">খাওয়ার ১৫ মিনিট আগে</option>
                        <option value="খাবারের সাথে মিশিয়ে">খাবারের সাথে মিশিয়ে</option>
                        <option value="খাওয়ার পরে">খাওয়ার পরে</option>
                        <option value="ভরা পেটে">ভরা পেটে</option>
                        <option value="ঘুমানোর ১ ঘন্টা আগে">ঘুমানোর ১ ঘন্টা আগে</option>
                    </select>

                    <select class="textinput" id="dosage3" onchange="insertDoseText3()">
                        <option value="০১ দিন">০১ দিন</option>
                        <option value="০৩ দিন">০৩ দিন</option>
                        <option value="০৫ দিন">০৫ দিন</option>
                        <option value="০৭ দিন">০৭ দিন</option>
                        <option value="১০ দিন">১০ দিন</option>
                        <option value="১৪ দিন">১৪ দিন</option>
                        <option value="১৫ দিন">১৫ দিন</option>
                        <option value="২১ দিন">২১ দিন</option>
                        <option value="১ম ও ৭ম দিন">১ম ও ৭ম দিন</option>
                        <option value="৪ সপ্তাহ">৪ সপ্তাহ</option>
                        <option value="৬ সপ্তাহ">৬ সপ্তাহ</option>
                        <option value="১ মাস">১ মাস</option>
                        <option value="২ মাস">২ মাস</option>
                        <option value="৩ মাস">৩ মাস</option>
                        <option value="৬ মাস">৬ মাস</option>
                        <option value="চলবে">চলবে</option>
                    </select>
                    
                </div>
                <div class="secondbuttons">
                    <a onclick="addAdviceTemplate('1')">Advice (1)</a>
                    <a onclick="addAdviceTemplate('2')">Advice (2)</a>
                    <a onclick="addAdviceTemplate('3')">Advice (3)</a>
                </div>
                <div class="prestext">
                    <textarea name="prestext" id="prestext" class="textareainput" rows="15" required></textarea>
                </div>
            </div>
            <div class="preview-and-others">
                <div class="others">
                    <a href="{% url 'prescription' %}">See All Prescriptions</a>
                    <a href="{% url 'tools' %}" target="_blank">Use Some Tools</a>
                    <a onclick="printEmbeddedObject()">Print Now</a>
                </div>
                <div class="preview">
                    <a id="previewButton">Preview Before Print</a>
                    <div id="pdfPreview"></div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    let printEmbeddedObject = () => {
     
     const getObjectElement = document.querySelector('embed');
     let pdfFileLocation = getObjectElement.getAttribute('src');
     console.log(pdfFileLocation);
    
     let instanceIframeObject = document.createElement('iframe');  
     instanceIframeObject.style.visibility = 'hidden';
     instanceIframeObject.src = pdfFileLocation;
 
     document.body.appendChild(instanceIframeObject);
 
     instanceIframeObject.contentWindow.focus();
     instanceIframeObject.contentWindow.print();
 }
</script>
{% endblock %}