{% extends 'dapp/dashboard-base.html' %}
{% load static %}

{% block title %}
Doctors - Prescription
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/prescription.css' %}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="pres-landing">
        <div class="links">
            <div class="create-link">
                <a href="{% url 'createprescription' %}">Create new prescription</a>
            </div>
            <div class="filter-links">
                <a href="{% url 'prescription' %}" class="active">Latest</a>
                <a href="{% url 'prescription' %}?filter=yesterday" class="{% if filter_value == 'yesterday' %}active{% endif %}">Yesterday</a>
                <a href="{% url 'prescription' %}?filter=last_week" class="{% if filter_value == 'last_week' %}active{% endif %}">Last week</a>
                <a href="{% url 'prescription' %}?filter=last_month" class="{% if filter_value == 'last_month' %}active{% endif %}">Last month</a>
                <a href="{% url 'prescription' %}?filter=all" class="{% if filter_value == 'all' %}active{% endif %}">All</a>
            </div>
        </div>
        <div class="lists">
            {% for patient in patients %}
            <div class="list">{{ patient.name }} - {{ patient.created }} - <a href="{{ patient.pdf.url }}" target="_blank">Download/Print pdf</a> - <a href="{% url 'rawprescription' pk=patient.pid %}" target="_blank">View raw</a></div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}