{% extends 'dapp/dashboard-base.html' %}
{% load static %}

{% block title %}
Doctors - Prescription
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/prescription.css' %}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="pres-landing">
        <div class="links">
            <div class="create-link">
                <a href="{% url 'createprescription' %}">Create new prescription</a>
            </div>
            <form action="{% url 'prescription' %}" method="POST">
                {% csrf_token %}
                <input type="text" class="inputfield" name="search" placeholder="Patient name...">
                <input type="submit" class="submit" value="Search">
            </form>
            <div class="filter-links">
                <a href="{% url 'prescription' %}" class="active">Latest</a>
                <a href="{% url 'prescription' %}?filter=all" {% if 'all' in filter_value %}class="active"{% endif %}>All</a>
            </div>
        </div>
        <div class="lists">
            {% for patient in patients %}
            <div class="list">{{ patient.name }} - {{ patient.created }} - <a href="{{ patient.pdf.url }}" target="_blank">Download/Print pdf</a> - <a href="{% url 'rawprescription' pk=patient.pid %}">View raw</a> - <a href="{% url 'editprescription' pk=patient.pid %}">Edit</a></div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}