{% extends 'dapp/base.html' %}
{% load static %}

{% block title %}
Prescribemate - All-in-One Medical Prescription Software for Doctors
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<meta name="description" content="Doctors' Prescribemate is a medical prescription software that you can use both online and offline. Along with medical calculators, extensive drugs database and community support it is just all-in-one product for doctors and medical students.">
<meta property="og:title" content="Prescribemate - Doctors'">
<meta property="og:description" content="A medical prescription software with doctors community forum and extensive set of tools and drugs database support.">
<meta property="og:image" content="https://prescribemate.com/static/images/icons/fulllogo.png">
<meta property="og:type" content="website">
<meta property="og:url" content="https://prescribemate.com/">
<meta property="og:site_name" content="Prescribemate - Doctors">
<meta property="og:locale" content="en_US">
<meta name="author" content="Prescribemate">
<meta name="keywords" content="Prescription management system, Drug database for doctors, Online prescription tools, Medical community platform, Healthcare technology for doctors, Medical technology for doctors, Healthcare software for doctors, AI-powered healthcare software, AI-based healthcare software, Secure patient data recording, Best software for doctors to manage patients, Best software for doctors to manage prescriptions, AI-powered prescription software for healthcare, Tools to improve medical skills, All-in-one healthcare companion for doctors, All-in-one healthcare solution for doctors, Medical discussion forum for medical students, Medical discussion forum for doctors, Doctor management software in Bangladesh, Doctor management software in bd, Healthcare solutions for doctors in Bangladesh, Best medical software in Bangladesh, Prescription software in bd, Prescription software in Bangladesh, Best Prescription software in Bangladesh">
<meta name='robots' content='index,follow'>
<link rel="canonical" href="https://prescribemate.com/">

<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "WebApplication",
    "name": "Prescribemate",
    "url": "https://prescribemate.com/",
    "description": "A medical prescription software with tools, a drugs database, and a doctors' online community.",
    "image": "https://prescribemate.com/static/images/icons/fulllogo.png",
    "applicationCategory": "Medical",
    "operatingSystem": "Windows, MacOS, Android",
    "author": {
    "@type": "Organization",
    "name": "Prescribemate Inc."
    }
}
</script>
{% endblock %}

{% block body %}
{% if message %}
<div class="container">
    <p style="text-align: center;">{{ message }}</p>
</div>
{% endif %}

<div class="homecontainer">
    <div class="landingContainer">
        <p>Empowering doctors and transforming healthcare in Bangladesh<br><span class="s1">FAST</span>   <span class="s1">LIGHT-WEIGHT</span>   <span class="s1">EXCLUSIVE</span><br>Your <span class="s2">ALL-IN-ONE</span> Companion</p>
        <a href="#downloadButtons">Download Doctors'</a>
    </div>
</div>

<div class="homecontainer">
    <div class="firstcontainer">
        <div class="texts">
            <h1>Empower Your Practice with Advanced Medical Tool</h1>
            <p>Doctors' simplifies your workflow, enhances patient care, and supports medical education. Focus on what matters most<b>—your patients—</b>with our innovative solutions. Experience efficiency and excellence in healthcare with Doctors'.</p>
            <a href="{% url 'login' %}">Start free trial</a>
        </div>
        <div>
            <img src="{% static 'images/others/landing.jpg' %}" alt="">
        </div>
    </div>
</div>

<div class="homecontainer2">
    <div class="boxes">
        <div class="firstbox">
            <div>
                <img src="{% static 'images/others/ss1.png' %}" onclick="this.requestFullscreen()" alt="">
            </div>
            <div class="texts">
                <p>PRESCRIPTION MANAGEMENT</p>
                <h1>Easily create & manage prescriptions with our intuitive interface.</h1>
                <p>Save time and reduce errors with <b>AI-powered</b> prescription management on Doctors'</p>
                <a href="{% url 'login' %}">Try Now!</a>
            </div>
        </div>
    </div>
</div>

<div class="homecontainer2">
    <div class="boxes">
        <div class="firstbox">
            <div class="texts">
                <p>COMPREHENSIVE MEDICAL TOOLS</p>
                <h1>Enhance diagnostic accuracy and patient outcomes with our advanced tools</h1>
                <p>Access a variety of <b>medical calculators</b> and tools, including BMI, Creatinine Clearance, and more.</p>
                <a href="{% url 'login' %}">Try Now!</a>
            </div>
            <div>
                <img src="{% static 'images/others/ss2.png' %}" onclick="this.requestFullscreen()" alt="">
            </div>
        </div>
    </div>
</div>

<div class="homecontainer2">
    <div class="boxes">
        <div class="firstbox">
            <div>
                <img src="{% static 'images/others/ss3.jpg' %}" onclick="this.requestFullscreen()" class="ss3" alt="">
            </div>
            <div class="texts">
                <p>SECURE PATIENT DATA RECORDING</p>
                <h1>Ensure patient confidentiality with our HIPAA-compliant system</h1>
                <p>Securely <b>record and manage</b> patient data with our comprehensive database.</p>
                <a href="{% url 'login' %}">Try Now!</a>
            </div>
        </div>
    </div>
</div>

<div class="homecontainer2">
    <div class="boxes">
        <div class="firstbox">
            <div class="texts">
                <p>EXTENSIVE DRUG DATABASE</p>
                <h1>Stay informed with up-to-date drug information and guidelines</h1>
                <p>Quickly find <b>drug information and interactions</b> with our extensive drug database.</p>
                <a href="{% url 'login' %}">Try Now!</a>
            </div>
            <div>
                <img src="{% static 'images/others/ss4.png' %}" onclick="this.requestFullscreen()" alt="">
            </div>
        </div>
    </div>
</div>

<div class="homecontainer2">
    <div class="boxes">
        <div class="firstbox">
            <div>
                <img src="{% static 'images/others/ss5.png' %}" onclick="this.requestFullscreen()" alt="">
            </div>
            <div class="texts">
                <p>PROFESSIONAL DISCUSSION FORUM</p>
                <h1>Collaborate with a community of experienced professionals</h1>
                <p>Connect with other doctors and medical students, <b>share knowledge & discuss</b> cases in our dedicated forum.</p>
                <a href="{% url 'login' %}">Try Now!</a>
            </div>
        </div>
    </div>
</div>

<div class="homecontainer2">
    <div class="boxes">
        <div class="firstbox">
            <div class="texts">
                <p>MULTIPLE PAYMENT GATEWAYS</p>
                <h1>Seamless and Flexible Payment Options for Doctors</h1>
                <p>Easily pay subscriptions through a wide range of <b>banking and mobile banking</b> channels for your convenience.</p>
                <a href="{% url 'login' %}">Try Now!</a>
            </div>
            <div>
                <img src="{% static 'images/others/ss6.png' %}" onclick="this.requestFullscreen()" alt="">
            </div>
        </div>
    </div>
</div>

<div class="homecontainer">
    <div class="students">
        <div>
            <img src="{% static 'images/others/student.png' %}" onclick="this.requestFullscreen()" alt="">
        </div>
        <div class="texts">
            <p>FOR MEDICAL STUDENTS</p>
            <h2>Learn from the Best</h2>
            <p>Join our forum to ask questions and get answers from experienced doctors.</p>
            <p class="big">Access Educational Resources</p>
            <p>Utilize our tools and databases to support your studies and clinical practice.</p>
            <p class="big">Collaborate with Peers</p>
            <p>Connect with other medical students and professionals to share knowledge and experiences.</p>
            <p class="big">Enhance Your Learning</p>
            <p>Participate in case discussions, access study materials, and stay updated with the latest medical information.</p>
            <a href="{% url 'studentsignin' %}">Join Now as Student</a>
        </div>
    </div>
</div>

<div class="homecontainer2">
    <h1 style="text-align: center; padding: 0px 20px;">Subscription Plans for Doctors</h1>
    <p style="text-align: center; padding: 0px 20px;">It always starts with a 7-days free trial. You always get to choose what you are getting.</p>    
    <div class="offers">
        <div class="offer">
            <h2>Monthly</h2>
            <p>200 BDT</p>
        </div>
        <div class="offer">
            <h2>Quarterly</h2>
            <p>550 BDT</p>
        </div>
        <div class="offer">
            <h2>Half-Yearly</h2>
            <p>1100 BDT</p>
        </div>
        <div class="offer">
            <h2>Yearly</h2>
            <p>2000 BDT</p>
        </div>
        <div class="offer">
            <h2>Five-Yearly</h2>
            <p>10000 BDT</p>
        </div>
    </div>
</div>

<div class="homecontainer2">
    <h1 style="text-align: center; padding: 0px 20px;">Subscription Plans for Students</h1>
    <p style="text-align: center; padding: 0px 20px;">It always starts with a 90-days free trial. You always get to choose what you are getting.</p>    
    <div class="offers">
        <div class="offer">
            <h2>Monthly</h2>
            <p>50 BDT</p>
        </div>
        <div class="offer">
            <h2>Quarterly</h2>
            <p>150 BDT</p>
        </div>
        <div class="offer">
            <h2>Half-Yearly</h2>
            <p>300 BDT</p>
        </div>
        <div class="offer">
            <h2>Yearly</h2>
            <p>500 BDT</p>
        </div>
        <div class="offer">
            <h2>Five-Yearly</h2>
            <p>2500 BDT</p>
        </div>
    </div>
</div>

<div class="homecontainer" id="downloadButtons">
    <h1 style="text-align: center;">READY TO TRANSFORM YOUR PRACTICE AND LEARNING?</h1>
    <p style="text-align: center;">Join thousands of doctors and medical students who trust Doctors' for their practice management and education</p>
    <div class="softlinks">
        <a href="{% url 'login' %}">Try Web Version</a>
        <a href="https://prescribemate.com/media/softwarefiles/setupDoctors.exe" download>Download Desktop Software &#x2193;</a>
        <a onclick="alert('Under developement! Will be available soon!')"><img src="{% static 'images/icons/googleplay.png' %}" alt="">Download Android App</a>
        <a onclick="alert('Under developement! Will be available soon!')"><img src="{% static 'images/icons/appleplay.png' %}" alt="">Download Apple App</a>
    </div>
</div>



<script>
    // Select all sections
    const sections = document.querySelectorAll('.homecontainer, .homecontainer2');

    // Create the Intersection Observer
    const observer = new IntersectionObserver((entries, observer) => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                // Add 'active' class to trigger animation
                entry.target.classList.add('active');
                // Unobserve the section to avoid retriggering
                observer.unobserve(entry.target);
            }
        });
    }, {
        threshold: 0.5 // Trigger when 50% of the section is visible
    });

    // Observe each section
    sections.forEach(section => observer.observe(section));

</script>

{% endblock %}