{% extends 'dapp/base.html' %}
{% load static %}

{% block title %}
Doctors - Home
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block body %}
{% if message %}
<div class="container">
    <p style="text-align: center;">{{ message }}</p>
</div>
{% endif %}
<div class="slider container">
    <div class="slide active">
        <div class="slider-content">
            <div class="text">
                <p class="bn-bold extralarge">Write your prescriptions effortlessly.</p>
                <p class="bn-medium tiny">Some text goes here to describe what is really is. Some text goes here to describe what is really is. Some text goes here to describe what is really is. Some text goes here to describe what is really is.</p>
            </div>
            <div class="image">
                <img src="{% static 'images/others/one.png' %}" alt="Slider Image 1">
            </div>
        </div>
    </div>
    <div class="slide">
        <div class="slider-content">
            <div class="text">
                <p class="bn-bold extralarge">Write your prescriptions effortlessly.</p>
                <p class="bn-medium tiny">Some text goes here to describe what is really is. Some text goes here to describe what is really is. Some text goes here to describe what is really is. Some text goes here to describe what is really is.</p>
            </div>
            <div class="image">
                <img src="{% static 'images/others/one.png' %}" alt="Slider Image 1">
            </div>
        </div>
    </div>
    <div class="slide">
        <div class="slider-content">
            <div class="text">
                <p class="bn-bold extralarge">Write your prescriptions effortlessly.</p>
                <p class="bn-medium tiny">Some text goes here to describe what is really is. Some text goes here to describe what is really is. Some text goes here to describe what is really is. Some text goes here to describe what is really is.</p>
            </div>
            <div class="image">
                <img src="{% static 'images/others/one.png' %}" alt="Slider Image 1">
            </div>
        </div>
    </div>
</div>
<div class="doctors-file-download container">
    <div class="left">
        <span class="bn-bold regular">Introducing the ultimate solution for<br>Modern HealthCare.</span>
        <p class="bn-bold extralarge" style="color: var(--primary-color);">Doctors'</p>
        <a href="" class="bn-semibold small">Download Now !</a>
        <a href="{% url 'login' %}" class="bn-semibold small">Try the web version &#x2197;</a>
    </div>
    <div class="left">
        <img src="{% static 'images/others/one.png' %}" alt="">
    </div>
</div>
<div class="choose-plans container">
    <h3 class="regular" style="text-align: center;">Compare plans</h3>
    <div class="plans">
        <div class="plan">
            <div class="title bn-bold large">Monthly<br>150 BDT</div>
            <div class="features bn-regular small">&#x2713; Prescription</div>
            <div class="features bn-regular small">&#x2713; Drugs Database</div>
            <div class="features bn-regular small">&#x2713; Tools</div>
            <div class="features bn-regular small">&#x2713; Forum</div>
            <div class="features bn-regular small">&#x2713; AI Support</div>
            <div class="features bn-regular small">&#x2713; Software Updates</div>
        </div>
        <div class="plan">
            <div class="title bn-bold large">Yearly<br>1600 BDT</div>
            <div class="features bn-regular small">&#x2713; Prescription</div>
            <div class="features bn-regular small">&#x2713; Drugs Database</div>
            <div class="features bn-regular small">&#x2713; Tools</div>
            <div class="features bn-regular small">&#x2713; Forum</div>
            <div class="features bn-regular small">&#x2713; AI Support</div>
            <div class="features bn-regular small">&#x2713; Software Updates</div>
        </div>
        <div class="plan">
            <div class="title bn-bold large">Lifetime<br>7000 BDT</div>
            <div class="features bn-regular small">&#x2713; Prescription</div>
            <div class="features bn-regular small">&#x2713; Drugs Database ( Limited )</div>
            <div class="features bn-regular small">&#x2713; Tools</div>
            <div class="features bn-regular small"><span style="color: red;">&#x2716;</span> Forum</div>
            <div class="features bn-regular small"><span style="color: red;">&#x2716;</span> AI Support</div>
            <div class="features bn-regular small">&#x2713; Software Updates</div>
        </div>
    </div>
    <div class="buy"><a href="" class="bn-semibold small">Buy a plan</a></div>
</div>
<div class="container">
    <div class="footer-container">
        <div class="left">
            <span class="bn-bold large">Message Us</span>
            <span class="bn-semibold regular">We are here to help and answer any questions you might have. We look forward to hearing from you.</span>
            <img src="{% static 'images/icons/fulllogo.png' %}" alt="">
            <span class="bn-medium small" style="color: var(--primary-color);">Company Slogan here...</span>
        </div>
        <div class="right">
            <form action="{% url 'home' %}" method="POST" id="contact">
                {% csrf_token %}
                <input name="name" type="text" class="inputfield" placeholder="Enter Your Name">
                <input name="email" type="email" class="inputfield" placeholder="Enter Your Email Address">
                <textarea name="msg" id="" class="textinputfield" placeholder="Type Your Message..."></textarea>
                <input type="submit" class="submit-btn" value="Send Message">
            </form>
        </div>
    </div>
</div>
{% endblock %}