.hide{
    display: none;
}
.textinput{
    padding: 7px 10px;
    background-color: var(--light-color);
    color: var(--dark-color);
    border-radius: 7px;
    border: 0.1px solid rgba(60,60,59,0.1);
    box-shadow: 0px 4px 8px rgba(60,60,59,0.1);
}
.submit-btn{
    padding: 0px;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--light-color);
    border-radius: 7px;
    border: 0.1px solid rgba(60,60,59,0.1);
    box-shadow: 0px 4px 8px rgba(60,60,59,0.1);
}
#prescription{
    margin: 10px 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.person-details{
    display: grid;
    grid-template-columns: 100px 75px 100px 120px 120px 150px;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: left;
    align-items: center;
    padding: 10px;
    background-color: var(--light-color);
    border-radius: 7px;
    border: 0.1px solid rgba(60,60,59,0.1);
    box-shadow: 0px 4px 8px rgba(60,60,59,0.1);
}

.symptoms-prescription{
    display: grid;
    grid-template-columns: 350px 650px 250px;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
}

.prescription{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.prescription .buttons{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
}
.prescription .secondbuttons{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.prescription .secondbuttons a{
    text-decoration: none;
    padding: 0px 10px;
    background-color: var(--light-color);
    color: rgba(60, 60, 59, 0.5);
    border-radius: 7px;
    border: 0.1px solid rgba(60,60,59,0.1);
    box-shadow: 0px 4px 8px rgba(60,60,59,0.1);
    cursor: pointer;
}
.prescription .buttons .textinput{
    font-size: 10px;
}
.prescription .textareainput{
    padding: 10px;
    width: 600px;
    height: 400px;
    background-color: var(--light-color);
    border-radius: 7px;
    border: 0.1px solid rgba(60,60,59,0.1);
    box-shadow: 0px 4px 8px rgba(60,60,59,0.1);
}


.symptoms{
    display: grid;
    grid-template-columns: 350px;
    gap: 0px;
    padding: 0px;
    align-items: center;
    justify-content: center;
}
.symptoms .buttons{
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
}
.symptoms .buttons a{
    text-decoration: none;
    background-color: var(--light-color);
    color: var(--dark-color);
    padding: 2px 7px;
    border-radius: 7px;
    font-size: 12px;
    cursor: pointer;
    border: 0.1px solid rgba(60,60,59,0.1);
}
.symptoms .buttons .agreen{
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 2px 7px;
    border-radius: 7px;
    font-size: 12px;
    cursor: pointer;
    border: none;
}
.sgf{
    display: grid;
    grid-template-columns: 100%;
    padding: 0px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.sgf textarea{
    width: 100%;
    height: 100px;
    padding: 7px 10px;
    background-color: var(--light-color);
    color: var(--dark-color);
    border-radius: 7px;
    border: 0.1px solid rgba(60,60,59,0.1);
    box-shadow: 0px 4px 8px rgba(60,60,59,0.1);
}
.sgf div textarea{
    width: 350px;
}
.sgf .cc textarea{
    height: 75px;
}
.sgf .rf-dx textarea{
    height: 50px;
}
.sgf input{
    width: 100%;
    padding: 7px 10px;
    background-color: var(--light-color);
    color: var(--dark-color);
    border-radius: 7px;
    font-size: 12px;
    border: 0.1px solid rgba(60,60,59,0.1);
    box-shadow: 0px 4px 8px rgba(60,60,59,0.1);
}
.autocomplete-suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 350px;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid rgba(60, 60, 59, 0.25);
    background-color: #ffffff;
    display: none;
    z-index: 11111111111;
}
#ixa .autocomplete-suggestions {
    top: -100%;
}
#presa .autocomplete-suggestions {
    max-height: 450px;
}
.autocomplete-suggestion {
    padding: 2px 5px;
    cursor: pointer;
    font-size: 14px;
}
.autocomplete-suggestion:hover {
    background-color: #f0f0f0;
}


.preview-and-others{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.preview-and-others .others{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.preview-and-others .others a{
    width: 100%;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    background-color: var(--light-color);
    color: rgba(60, 60, 59, 0.8);
    border-radius: 7px;
    border: 0.1px solid rgba(60,60,59,0.1);
    box-shadow: 0px 4px 8px rgba(60,60,59,0.1);
    padding: 0px 20px;
}
.preview-and-others .preview{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.preview-and-others .preview a{
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--light-color);
    border-radius: 7px;
    border: 0.1px solid rgba(60,60,59,0.1);
    box-shadow: 0px 4px 8px rgba(60,60,59,0.1);
    padding: 2px 20px;
}





/* ----------- pres - landing ------------------*/
.pres-landing{
    padding: 20px 0px;
}
.pres-landing .links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.pres-landing .links .create-link a{
    text-decoration: none;
    color: var(--light-color);
    background-color: var(--primary-color);
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
}
.pres-landing .links .filter-links{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.pres-landing .links .filter-links a{
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--light-color);
    padding: 0px 30px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    cursor: pointer;
}
.pres-landing .links .filter-links .active{
    text-decoration: none;
    color: var(--light-color);
    background-color: var(--primary-color);
    padding: 0px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.pres-landing .lists{
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.pres-landing .lists .list{
    color: var(--dark-color);
    padding: 10px 20px;
    width: 350px;
    font-size: 16px;
    background-color: var(--light-color);
    border: 1px solid rgba(60, 60, 59, 0.1);
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(60, 60, 59, 0.25);
}
.pres-landing .lists .list a{
    text-decoration: underline;
    color: var(--dark-color);
    cursor: pointer;
}
.pres-landing form{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.pres-landing form .inputfield{
    width: 150px;
    padding: 0px 10px;
    background-color: var(--light-color);
    border: 0.5px solid rgba(0,0,0,0.1);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.25);
    font-family: 'BanglaLight',sans-serif;
    font-size: 16px;
}
.pres-landing form .submit{
    width: 75px;
    padding: 0px 10px;
    color: var(--light-color);
    background-color: var(--primary-color);
    border: 0.5px solid rgba(0,0,0,0.1);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.25);
    font-family: 'BanglaLight',sans-serif;
    font-size: 16px;
}